<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!--  <div class="Container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <app-flowers></app-flowers>
        </div> 
        <div class="col-sm-4">
          <app-items></app-items>
        </div>
        <div class="col-sm-4">
          <app-carts></app-carts>
        </div>
      </div>
    </div> -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a routerLink="flower">flower</a></li>
                <li><a routerLink="item">item</a></li>

                <li><a routerLink="cart">cart</a></li>
                <li><a routerLink="register">Register</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</body>

</html>