<div class="alert alert-success">
    <form [formGroup]="myForm" (ngSubmit)="register()">
        <label class="form-control">Username</label>
        <input type="text" class="form-control" [formControl]="uid">
        <span *ngIf="uid.valid==false && uid.touched" class="alert alert-danger">
        Username cannot be empty
    </span>
        <label class="form-control">Password</label>
        <input type="password" class="form-control" [formControl]="pass">
        <span *ngIf="pass.valid==false && pass.touched" class="alert alert-danger">
        Password cannot be empty
    </span>
        <label class="form-control">Re-Type Password</label>
        <input type="password" class="form-control">
        <label class="form-control">Name</label>
        <input type="text" class="form-control" [formControl]="uname">
        <span *ngIf="uname.errors && uname.touched" class="alert alert-danger">
        <span *ngIf="uname.errors.required">
            Name cannot be empty
        </span>
        <span *ngIf="uname.errors.minlength">
            Invalid entry for name
        </span>
        </span>
        <button class="btn btn-success">Register</button>
    </form>
</div>